@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, 'Karla';
}

.font-karla {
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

input::placeholder {
  color: #8C8C8C;
  font-weight: 500;
}